.characters {
  display: flex;
  margin: 60px 0 0 0;
  min-height: 640px;
}

.characters__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 580px;
  margin: 0;
  padding: 0;

  color: #fff;
}

.characters__item {
  position: relative;

  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 15px 15px 0;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 95px;
    height: 130px;
    opacity: 0.7;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
    width: 100%;
    height: 15%;
    padding: 5px 0 5px 0;
    text-align: center;
  }
}

.characters__item--active {
  border: 1px solid #ffc500;

  span {
    color: #ffc500;
  }

  img {
    opacity: 1;
    -webkit-filter: none;
    filter: none;
  }
}

.characters__details--empty {
  color: #fff;
  font-size: 30px;
  width: 400px;
  text-align: center;

  h3 {
    padding: 0;
    margin: 0;
  }
}

.character-info {
  display: flex;
  justify-content: space-between;
}

.character-info__img {
  width: 220px;
  height: 360px;
  object-fit: cover;
}

.character-info__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 175px;

  margin-left: 35px;
}

.character-info__name {
  color: #fff;
  font-size: 26px;
}

.character-info__list {
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #fff;
}

.character-info__item {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-bottom: 5px;
}

.character-info__item--bottom-space {
  margin-bottom: 20px;
}

.character-info__title {
  display: block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffc500;
  margin-bottom: 5px;
}

.character-info__desc {
  margin-left: 10px;
}
